{% extends "todoApp/base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
    <h2> Add New Notes</h2>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form}}
            <input class="btn" type="submit" value="Submit">
        </div>
    </form>
</div>
<div class="container">
    <h2>Notes</h2>
    <div class="card_container">
    {% for note in notes %}
    <div class="card">
            <strong class="card-title">{{note.title}}</strong>
            <p class="card-text">{{note.description}}</p>
            <form action="{% url 'deleteNote' id=note.id %}" name="myForm" method="POST">
                {% csrf_token %}
                <button  type="submit" >Delete</button>
            </form>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}